* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, red, green, blue);
  filter: invert(10%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.button {
  cursor: pointer;
  border: none;
  outline: 0;
  background: #000;
  font-size: 1rem;
  color: #fff;
  margin: 1rem;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 0 #fff;
  z-index: 1;
  transition: 500ms ease-in-out;
  text-align: center;
  border-radius: 30px;

  &::after {
    transform: scale(0.5);
  }
}
.notification {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  position: relative;
  color: transparent;

  &::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: attr(data-count);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    position: absolute;
    top: -5px;
    right: 5px;
    transform: 0.3s;
    opacity: 0;
    transform: scale(0.5);
    color: #000;
    font-size: 0.9rem;
  }

  &::before {
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    display: block;
    color: #000;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &.count::after {
    opacity: 1;
    transform: scale(1);
  }
  &.notify::before {
    animation: bell 1s ease-in-out;
  }
}

@keyframes bell {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
